.timeMetricsTableView {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #EEE;
    margin: 5px 0 20px 0;
}
.timeMetricsTableView thead th {
    font-weight: bold;
    padding: 5px;
    background-color: #EFEFEF;
    border: 1px solid #000000;
}
.timeMetricsTableView tbody tr:hover {
    background-color: #FFFACD !important;
}
.timeMetricsTableView tbody tr:nth-child(odd) {
    background-color: #FFF;
}
.timeMetricsTableView tbody tr:nth-child(even) {
    background-color: #F7F7F7;
}
.timeMetricsTableView tbody td {
    padding: 5px 10px;
    border: 1px solid #000000;
    text-align: left;
}
.timeMetricsTableView tbody td .tdMarked {
    background-color: #B8860B;
}
.timeMetricsTableView thead td .headerTakeALook {
    background-color: Red;
}
.timeMetricsTableView thead td .headerStandard {
    background-color: PaleGreen;
}
.collapsible {
    background-color: #EEE;
    color: #444
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}
.active, .collapsible:hover {
    background-color: #CCC;
}
.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}
.content {
    padding: 0 18px;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
    max-height: 0;
    background-color: white;
}
.iframeView {
    width: 100%;
    height: 500px;
}