.timeMetricsTableView {
    border: 1;
}
tr:hover {
    background-color: #FFFACD;
}
.tdMarked {
    background-color: #B8860B;
}
.tooltip {
    background-color: #FFFACD;
}
.headerTakeALook {
    background-color: Red;
}
.headerStandard {
    background-color: PaleGreen;
}
.collapsible {
    background-color: #eee;
    color: #444
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
.active, .collapsible:hover {
    background-color: #ccc;
}
.content {
    padding: 0 18px;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
    max-height: 0;
    background-color: white;
}