.timeMetricsTableView {
    border: 1px solid #eee;
    //table-layout: fixed;
    width: 100%;
    margin-bottom: 20px;
    border-spacing: 0px;
}
.timeMetricsTableView th {
	font-weight: bold;
	padding: 5px;
	background: #EFEFEF;
	border: 1px solid #DDDDDD;
}
.timeMetricsTableView tr:hover {
    background-color: #FFFACD;
}
.timeMetricsTableView td {
	padding: 5px 10px;
	border: 1px solid #EEE;
	text-align: left;
}
.timeMetricsTableView tbody tr:nth-child(odd) {
	background: #FFF;
}
.timeMetricsTableView tbody tr:nth-child(even) {
	background: #F7F7F7;
}
.tdMarked {
    background-color: #B8860B;
}
.tooltip {
    background-color: #FFFACD;
}
.headerTakeALook {
    background-color: Red;
}
.headerStandard {
    background-color: PaleGreen;
}
.collapsible {
    background-color: #EEE;
    color: #444
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}
.active, .collapsible:hover {
    background-color: #CCC;
}
.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}
.content {
    padding: 0 18px;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
    max-height: 0;
    background-color: white;
}
.iframeView {
    width: 100%;
    height: 500px;
}