body {
    color: #172b4d;
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
.title-marker {
    background-color: rgba(246,195,66,0.3);
}
.embedded-link {
    font-size: 15px;
}
.embedded-image {
    height: 250px;
}
.metricGoodAndStatusDone {
    background-color: #BDECB6;
}
.metricGoodAndStatusUndone {
    background-color: #FFDEAD;
}
.metricMinAndStatusUndone {
}
.metricOverAndStatusUndone {
    background-color: #FF8C00;
    font-weight: bold;
}
.metricOverAndStatusDone {
    background-color: #8B4513;
    color: #FFFFFF;
    font-weight: bold;
}