.timeMetricsTableView {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000000;
    margin: 5px 0 20px 0;
    font-size: 12px;
}
.timeMetricsTableView thead th {
    font-weight: bold;
    padding: 5px 3px;
    background-color: #DCDCDC;
    border: 1px solid #000000;
}
.timeMetricsTableView tbody tr:hover {
    background-color: #FFFACD !important;
    color: #000000 !important;
}
.timeMetricsTableView tbody tr:nth-child(odd) {
    background-color: #FFF;
    color: #000000;
}
.timeMetricsTableView tbody tr:nth-child(even) {
    background-color: #F7F7F7;
    color: #000000;
}
.timeMetricsTableView tbody td {
    padding: 5px 3px;
    border: 1px solid #000000;
    text-align: center;
}
.tdMarked {
    background-color: #B8860B;
}
.tdLeftStyle {
    text-align: left;
}
.headerTakeALook {
    background-color: Red;
    font-size: 16px;
}
.headerStandard {
    background-color: PaleGreen;
    font-size: 16px;
}
.sprintsInWorkTableView {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000000;
    margin: 5px 0 20px 0;
    font-size: 12px;
}
.sprintsInWorkTableView thead th {
    font-weight: bold;
    padding: 5px 3px;
    background-color: #DCDCDC;
    border: 1px solid #000000;
}
.sprintsInWorkTableView tbody td {
    padding: 5px 3px;
    border: 1px solid #000000;
    text-align: center;
}
.sprintsInWorkTableViewRowMetricGoodAndStatusDone {
    background-color: #BDECB6 !important;
}
.sprintsInWorkTableViewRowMetricGoodAndStatusUndone {
    background-color: #FFDEAD !important;
}
.sprintsInWorkTableViewRowMetricMinAndStatusUndone {
}
.sprintsInWorkTableViewRowMetricOverAndStatusUndone {
    background-color: #FF8C00 !important;
    font-weight: bold;
}
.sprintsInWorkTableViewRowMetricOverAndStatusDone {
    background-color: #8B4513 !important;
    color: #FFFFFF !important;
    font-weight: bold;
}
.collapsible {
    background-color: #EEE;
    color: #444
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}
.active, .collapsible:hover {
    background-color: #CCC;
}
.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}
.content {
    padding: 0 18px;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
    max-height: 0;
    background-color: white;
}
.iframeLegendView {
    width: 100%;
    height: 500px;
}
.iframeLegendSIWView {
    width: 100%;
    height: 410px;
}
.iframeIndexView {
    display: block;       /* iframes are inline by default */
    border: none;         /* Reset default border */
    height: 100vh;        /* Viewport-relative units */
    width: 100vw;
}
