.timeMetricsTableView {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000000;
    margin: 5px 0 20px 0;
    font-size: 12px;
}
.timeMetricsTableView thead th {
    font-weight: bold;
    padding: 5px 3px;
    background-color: #DCDCDC;
    border: 1px solid #000000;
}
.timeMetricsTableView tbody tr:hover {
    background-color: #FFFACD !important;
    color: #000000 !important;
}
.timeMetricsTableView tbody tr:nth-child(odd) {
    background-color: #FFF;
    color: #000000;
}
.timeMetricsTableView tbody tr:nth-child(even) {
    background-color: #F7F7F7;
    color: #000000;
}
.timeMetricsTableView tbody td {
    padding: 5px 3px;
    border: 1px solid #000000;
    text-align: center;
}
.tdMarked {
    background-color: #B8860B;
}
.tdLimitWarning {
    background-color: #FFA07A;
}
.tdLeftStyle {
    text-align: left;
}
.headerTakeALook {
    background-color: Red;
    font-size: 16px;
}
.headerStandard {
    background-color: PaleGreen;
    font-size: 16px;
}
.sprintsInWorkTableView {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000000;
    margin: 5px 0 20px 0;
    font-size: 12px;
}
.sprintsInWorkTableView thead th {
    font-weight: bold;
    padding: 5px 3px;
    background-color: #DCDCDC;
    border: 1px solid #000000;
}
.sprintsInWorkTableView tbody td {
    padding: 5px 3px;
    border: 1px solid #000000;
    text-align: center;
}
.sprintsInWorkTableViewRowMetricGoodAndStatusDone {
    background-color: #BDECB6 !important;
}
.sprintsInWorkTableViewRowMetricGoodAndStatusUndone {
    background-color: #FFDEAD !important;
}
.sprintsInWorkTableViewRowMetricMinAndStatusUndone {
}
.sprintsInWorkTableViewRowMetricOverAndStatusUndone {
    background-color: #FF8C00 !important;
    font-weight: bold;
}
.sprintsInWorkTableViewRowMetricOverAndStatusDone {
    background-color: #8B4513 !important;
    color: #FFFFFF !important;
    font-weight: bold;
}
.collapsible {
    background-color: #EEE;
    color: #444
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}
.active, .collapsible:hover {
    background-color: #CCC;
}
.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}
.content {
    padding: 0 18px;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
    max-height: 0;
    background-color: white;
}
.iframeLegendView {
    width: 100%;
    height: 500px;
}
.iframeLegendSIWView {
    width: 100%;
    height: 410px;
}
.iframeIndexView {
    display: block;       /* iframes are inline by default */
    border: none;         /* Reset default border */
    height: 100vh;        /* Viewport-relative units */
    width: 100vw;
}

input[type=text].inputTextWrapView:focus {
    width: 100%;
}
input[type=text].inputTextWrapView:not(:focus) {
    width: 100%;
    border: 0;
}

textarea.textarea-editor {
    font-family: inherit;
    font-size: 14px;
    display: none;
}
textarea.textarea-editor:focus {
    width: 100%;
    height_: 100%;
}
textarea.textarea-editor:not(:focus) {
    width: 100%;
    height_: 100%;
    border: 0;
}
div.textarea-view {
    display: block;
    padding: 2px 2px 2px 2px;
    color: black;
    font-size: 14px;
    white-space:pre-wrap; // to correctly show \n from textarea
}
div.textarea-view-notincluded {
    opacity: 0.5;;
}

div.notincluded {
    opacity: 0.5;
}

div#welcome_div, div#overview_div {
    width: 50%;
}

div.sub-header {
    line-height: 40px;
    font-size: 24px;
    font-weight: bold;
    vertical-align: middle;
}

div.controlPanel {
    border: 1px solid #000;
    width: 520px;
    right: 0;
    top: 0;
    position: absolute;
    padding: 20px 10px;
}

div.controlPanel label {
    font-size: 14px;
    font-weight: bold;
    float: left;
    width: 25%;
    text-align: right;
    margin-right: 5px;
    padding-top: 5px;
}

/*
https://www.codexworld.com/overlay-preloader-image-over-div-css/
*/
div.loader {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(255,255,255,0.4);
}

div.loader-content {
    position: absolute;
    transform: translateY(-50%);
     -webkit-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    color: #555;
    opacity: 0.85;
    filter: alpha(opacity=85);
}

div.uploadedReportUrl {
    padding: 15px 0px 0px 10px;
    width: 300px;
}

select.versionsOfHistory {
    width: 270px;
    height: 25px;
}

select.reportLevel, select.epicTypes {
    width: 200px;
    height: 25px;
}

div.rangePicker {
    background: #fff;
    cursor: pointer;
    padding: 2px 10px;
    border: 1px solid #000;
    display: table-cell;
    width: 300px;
}

div.slaContent {
    width: 30%;
    text-align: center;
}

div.slaTeamContent {
    width: 50%;
}

div.slaContent table td:first-child {
    font-size: 10px;
    font-weight: bold;
    text-align: left;
}

table.teamMetricsTableViewWrap {
    width: 100%;
}

table.teamMetricsTableViewWrap tbody td.emptyCell {
    width: 5%;
}

table.teamMetricsTableViewWrap tbody td.contentCell {
    vertical-align: top;
}

div.teamMetricsDivWrap {
    width: 100%;
    display: flex;
    flex-direction: row;
}

div.teamMetricsDivWrap table {
    height: fit-content;
    margin-left: 20px;
}

.iconCalendar {
    margin: 2px 5px 0px 0px;
    padding: 2px 0px 0px 0px;
    float: left;
    width: 15px;
    background: #ededef;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededef), to(#ccc));
    background: -moz-linear-gradient(top,  #ededef,  #ccc);
    font: bold 3px/12px Arial Black, Arial, Helvetica, sans-serif;
    text-align: center;
    color: #000;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    border-collapse: collapse;
    border: 1px solid #000000;
}

.iconCalendar:before, .iconCalendar:after {
    content: '';
    float: left;
    position: absolute;
    top: 3px;
    width: 3px;
    height: 3px;
    background: #111;
    z-index: 1;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 1px 1px #fff;
    -webkit-box-shadow: 0 1px 1px #fff;
    box-shadow: 0 1px 1px #fff;
}
.iconCalendar:before {left: 10.5px;}
.iconCalendar:after {right: 10.5px;}

.iconCalendar em:before, .iconCalendar em:after {
    content: '';
    float: left;
    position: absolute;
    top: -2px;
    width: 1px;
    height: 6px;
    background: #dadada;
    background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#aaa));
    background: -moz-linear-gradient(top,  #f1f1f1,  #aaa);
    z-index: 2;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    border-collapse: collapse;
    border: .5px solid #000000;
}
.iconCalendar em:before {left: 11px;}
.iconCalendar em:after {right: 11px;}

input[type="checkbox"] {
    accent-color: grey;
}

@media print  {
    div#welcome_div, div#overview_div {
        width: 100%;
    }

    div.slaContent {
        width: 50%;
        text-align: center;
    }
}

